@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
// Fuentes
$font: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletxl: 992px;
$desktop: 1200px;
$desktop-xl: 1400px;

// Colores

$paleViolet: hsl(276, 100%, 81%);
$moderateViolet:hsl(276, 55%, 52%);
$desaturated: hsl(271, 15%, 43%);
$grayishBlue: hsl(206, 6%, 79%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$darkGrayishViolet :hsl(270, 7%, 64%);

// Gradient
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

$lightGrayishViolet: hsl(270, 20%, 96%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$veryLightMagenta: hsl(289, 100%, 72%);

$white: #fff;
$black: #000;
